<h1>Travelr</h1>


<% @user.each do |u|  %>

  <article class="">
    <h3> <% u.posts.each do |post| %>
        <%= link_to post.city.name, post_path(post.id) %>
        <%= image_tag post.image.url(:thumb) %>
      <% end  %>
     </h3>
  </article>
<% end  %>

<div class="">
  <% if logged_in? %>
    <%= link_to "Logout", logout_path, {method: "DELETE"} %>
  <% else %>
    <%= link_to "Login", new_session_path %>
    <% end %>

    <%= link_to "Create Account", new_user_path %>
</div>

<% @user.each do |u| %>
  <article class="">
    <%= link_to u.username, user_path(u) %>
  </article>
<% end %>
