
<header>

</header>

<div class="jumbotron">
  <h1>Trip planning at your fingertips!</h1>
  <script type="text/javascript" charset="utf-8">
  $(function(){
    $("#slides").electricSlide();
  })
</script>
<div id="slides">
<% @user.each do |u| %>
  <% u.posts.each do |slide| %>
  <div class="slide">
    <%= image_tag slide.image.url %>
  </div>
  <% end  %>
<% end %>
</div>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="center-block"><h1>Travelr</h1></div>

<% if logged_in? %>
  <div id="create" type="button" class="btn btn-warning">
    <%= link_to "Create New Post", new_post_path %>
  </div>
<% end  %>


<div class="container">
       <div class="row">
        <div class="col-md-12">

            <article class="">

               <% @post.each do |post|  %>
                <div class="posts">
                  <h3 class="text-capitalize"><%= link_to post.city, post_path(post.id) %></h3>

                    <%= image_tag post.image.url(:medium), class:"images" %>


                </div>
                <% end  %>
            </article>


        </div>

      </div>
    </div>
<!-- <div class="container"
    <div class="row">

  <% @user.each do |u|  %>
  <% u.posts.each do |post| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag post.image.url(:medium) %>
      <div class="caption">
        <h3 class="text-capitalize"><%= link_to post.city, post_path(post.id) %></h3>
        <p> <%= post.body %> </p>
        <p><a href="posts/show" class="btn btn-primary" role="button">Button</a>
      </div>
    </div>
  </div>
  <% end  %>
</div>
<% end  %>
</div> -->
