<!-- 
<header>

</header>

<div class="container">
  <div class="row">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">

      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>


      <div class="carousel-inner" role="listbox">

          <div class="item active">
            <%= image_tag @post[-1].image.url(:large) %>
            <div class="carousel-caption">
              ...
            </div>
          </div>

        <div class="item .active">
          <%= image_tag @post[-2].image.url(:large) %>
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item .active">
          <%= image_tag @post[-3].image.url(:large) %>
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item .active">
          <%= image_tag @post[-4].image.url(:large) %>
          <div class="carousel-caption">
            ...
          </div>
        </div>
      </div>


      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div> -->




<div class="center-block"><h1>Travelr</h1></div>

<% if logged_in? %>
  <div id="create" type="button" class="btn btn-warning">
    <%= link_to "Create New Post", new_post_path %>
  </div>
<% end  %>


<div class="container">
       <div class="row">
        <div class="col-md-12">
            <article class="">
               <% @post.first(6).each do |post|  %>
                <div class="posts">
                  <h3 class="text-capitalize"><%= link_to post.city, post_path(post.id) %></h3>
                    <%= image_tag post.image.url(:medium), class:"images" %>
                </div>
                <% end  %>
            </article>
        </div>
      </div>
    </div>
