<h1>Create new Account</h1>

<%= form_for @user do |f| %>
  Username: <%= f.text_field :username %>
  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  City: <%= f.text_field :city %>
  Password: <%= f.text_field :password %>
  <%= f.submit %>
  <% end  %>
