<h1><%= @user.username %></h1>

<h3>Trips:</h3>
  <% @user.posts.each do |up|  %>
    <article>
      <%= link_to up.title, post_path(up) %>
      <a href=" <%= post_url(up) %>"> <%= image_tag up.image.url(:thumb) %></a>
    </article>
  <% end  %>

<br>

<%= link_to "Create New Post", new_city_path %>

<article class="">
  <h4>Name: <%= @user.name %></h4>
  <h4>Email: <%= @user.email %></h4>
  <h4>City: <%= @user.city %></h4>
</article>



<%= link_to "Back", root_path %>
