<h1><%= @user.username %></h1>

<h3>Trips:</h3>


 <div class="container"
    <div class="row">

  <% @user.posts.each do |post|  %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag post.image.url(:medium) %>
      <div class="caption">
        <h3 class="text-capitalize"><%= link_to post.city, post_path(post.id) %></h3>
        <p> <%= post.body %> </p>
        <p><a href="posts/show" class="btn btn-primary" role="button">Button</a>
      </div>
    </div>
  </div>
  <% end  %>
</div>

</div>

  <% @user.posts.each do |up|  %>
    <article>
      <%= link_to up.title, post_path(up) %>
      <a href=" <%= post_url(up) %>"> <%= image_tag up.image.url(:thumb) %></a>
    </article>
  <% end  %>

<br>

<%= link_to "Create New Post", new_post_path %>

<article class="">
  <h4>Name: <%= @user.name %></h4>
  <h4>City: <%= @user.city %></h4>
</article>



<%= link_to "Back", root_path %>
