<h1>Edit Review</h1>

<%= render 'partials/postsForm' %>

<!-- <%= form_for @post do |f| %>
  <%= f.text_field :city, placeholder: 'city' %>
  <%= f.text_field :title, placeholder: 'title' %>
  <%= f.text_area :body, placeholder: 'review' %>
  <%= f.file_field :image %>
  <%= f.submit 'Update!' %>

<% end %> -->
