

<h1> <%= @post.title %></h1>

<%= image_tag @post.image.url(:large) %>

<p><%= @post.body %></p>
<h6>created <%= time_ago_in_words(@post.created_at) %> ago </h6>

<p>Author: <i> <%= link_to @post.user.username, user_path(@post.user_id) %> </i></p>




<% if current_user == @post.user %>
  <%= link_to 'Edit Post', edit_post_path %>

  <% end  %>

<% if current_user == @post.user %>
  <%= link_to 'delete post!', post_path(@post), method: 'DELETE', data: {confirm: 'Are you sure?'} %>
  <% end  %>

<h4>Comments</h4>
  <ul>
  <% @post.comments.each do |comment| %>
    <li><%= comment.body %></li>
  <% end %>
</ul>




  <%= form_for([@post, @comment]) do |f| %>
    Comment: <%= f.text_field :body, placeholder: "Add Comment" %>
    <%= f.submit %>
    <% end  %>

<br>
<br>
<% if current_user == @post.user %>
  <%= link_to 'Back to user', user_path(@post.user_id) %>
  <% end  %>
