

<h1> <%= @post.title.capitalize %></h1>

<%= image_tag @post.image.url(:large), class:"post-img" %>
<br>
<hr>

<p><%= @post.body %></p>
<h6>created <%= time_ago_in_words(@post.created_at) %> ago </h6>

<p>Author: <i> <%= link_to @post.user.username, user_path(@post.user_id) %> </i></p>




<% if current_user == @post.user %>
  <div type="button" class="btn btn-warning">
    <%= link_to 'Edit Post', edit_post_path %>
  </div>
  <% end  %>

<% if current_user == @post.user %>
  <div type="button" class="btn btn-danger">
  <%= link_to 'delete post!', post_path(@post), method: 'DELETE', data: {confirm: 'Are you sure?'} %>
</div>
  <% end  %>

<h4>Comments</h4>
<article>
  <% @post.comments.each do |comment| %>
    <p><%= @post.user.username %>
      <ul>
        <li><%= comment.body %></li>
      </ul>
    </p>  
  <% end %>
</article>

<%= form_for([@post, @comment],{:html => {:class => 'form-horizontal'}}) do |f| %>
  <fieldset>
    <div class="form-group">
      <%= label_tag :comment, 'Comment', class: 'col-md-1 control-label' %>
      <div class="col-md-4">
         <%= f.text_area :body, placeholder: "Add Comment",  class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 col-md-offset-1">
        <%= f.submit class: 'btn btn-success' %>
      </div>
    </div>

  </fieldset>
  <% end  %>


<br>
<br>
<% if current_user == @post.user %>
  <%= link_to 'Back to user', user_path(@post.user_id) %>
  <% end  %>
