<!DOCTYPE html>
<html>
  <head>
    <title>TravelReviewSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style media="screen">
      .sign-in {
        float: right;
      }
    </style>
  </head>

  <body>
    <form method="get" action="/posts/search">
      <input type="text" placeholder="Search Cities" name="query">
    </form>
    <%= link_to "Home", root_path %>

    <div class="sign-in">
      <% if logged_in? %>
        <%= link_to "Logout", logout_path, {method: "DELETE"} %>
      <% else %>
        <%= link_to "Login", new_session_path %>
        <%= link_to "Create Account", new_user_path %>
        <% end %>
    </div>

    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <% if logged_in? %>
        <p>Signed in as: <i> <%= current_user.username %> </i></p>
    <% end  %>

    <%= yield %>
  </body>
</html>
