<!DOCTYPE html>
<html>
  <head>
    <title>TravelReviewSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style media="screen">
      .signed-in {
        float: right;
        margin: 0 20px;
      }
      .col-md-4 {

      }
      .posts {
        display: inline-block;
        vertical-align: top;
        margin: 0 5px;
      }
      .images {
        width: 300px;
        height: 200px;
        border-radius: 5px;
      }
      .post-img {
        border-radius: 5px;
      }

      .col-sm-10.col-md-4 {
        width: 300px;
      }
      .jumbotron {
        height: 400px;
      }
      #create {
        float: right;
      }
      .container-fluid {
        background-color: #66C0B1;
      }

      body {
  background:#EEEEDD;
}
.foot {
  background: #2D2D47;
  height: 300px;
  margin-top: 30px;
}
.slide {
  display:none;
}
#slides .slide-header {
  display: none
}
#slides .slide-footer {
  margin:0;
  width: 200px;
}
.slide-footer .previous {
  width:75px;
  float:left;
}
.slide-footer .next {
  width:75px;
  float:right;
  text-align:right;
}
    </style>
  </head>

  <body>
    <%= render 'partials/navbar' %>

    <% if logged_in? %>
      <div class="signed-in">
        <p>Signed in as: <i> <%= current_user.username %> </i></p>
      </div>
    <% end  %>

    <!-- <%= link_to "Home", root_path %> -->


    <!-- <div class="sign-in">
      <% if logged_in? %>
        <%= link_to "Logout", logout_path, {method: "DELETE"} %>
      <% else %>
        <%= link_to "Login", new_session_path %>
        <%= link_to "Create Account", new_user_path %>
        <% end %>
    </div> -->

    <div class="container">
           <div class="row">
            <div class="col-md-8">
              <% if flash[:alert] %>
                <div class="alert alert-danger">
                  <%= flash[:alert] %>
                </div>
              <% end %>

            </div>
          </div>

          <%= yield %>
        </div>





    <!-- <form method="get" action="/posts/search">
      <input type="text" placeholder="Search Cities" name="query">
    </form> -->


  </body>
  <footer class="foot">



  </footer>
</html>
